target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
main/resources/archetype-resources/
main/resources/META-INF/
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

out/
!**/src/main/**/out/
!**/src/test/**/out/

